/*GENERAL*/
:root {
  --pink: #FF79DA;
  --purple: #9356DC;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--pink), var(--purple));
  animation: loader 5s forwards;
}

@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 1;
    z-index: 1000;
  }
  60% {
    transform: scale(1);
    opacity: 1;
    z-index: 1000;
  }
  99% {
    z-index: 1000;
  }
  100% {
    transform: scale(0);
    opacity: 0%;
    z-index: -1000;
  }
}
.loader,
.animation-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.animation-loader {
  height: 50px;
  animation: animation-loader-rotation 10s;
  transform: rotate(0);
}

@keyframes animation-loader-rotation {
  0% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header-white {
  display: flex;
  justify-content: center;
  background-color: white;
}
.header-white .logo-ohmyfood {
  height: 36px;
  width: 197px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.headerTextContent {
  background-color: #EAEAEA;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.15) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.headerTextContent .pin {
  display: block;
}

span {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 570;
  color: #353535;
  text-decoration: none;
}

.headerTextConten,
.pin,
span {
  display: flex;
  padding: 7px;
}

a {
  text-decoration: none;
}

.section-button {
  text-align: center;
  padding: 30px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-button h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 28.13px;
  color: #000000;
  margin: 0;
}

.decouvrer {
  font-weight: 100;
  line-height: 21.09px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: #353535;
}

.button-violet {
  display: flex;
  width: 218px;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom, var(--pink), var(--purple));
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-decoration: none;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 400ms;
}

.button-violet:hover,
.button-violet:focus {
  transform: scale(0.99);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
}

.button-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h2 {
  margin: 0;
  padding: 0;
}

.button-logo-mobile,
.button-menu,
.button-restaurant {
  border-radius: 20px;
  text-align: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  align-self: stretch;
}

.section-padding {
  padding: 50px 20px;
}

h2 {
  padding-bottom: 30px;
}

.insertion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 35px;
}

.numero {
  position: absolute;
  top: calc(50% - 12px);
  left: -12px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.texte-noir {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  white-space: nowrap;
  text-align: left;
}

.images,
.texte-noir {
  padding: 10px;
}

.images {
  padding-bottom: 18px;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 2rem;
}

.mise-en-page-un {
  padding-bottom: 15px;
}

.mise-en-page {
  padding-top: 15px;
  padding-bottom: 15px;
}

.directionColumn {
  position: relative;
  text-decoration: none;
}

.nouveau {
  right: 0;
  position: absolute;
  padding: 20px;
}

.image-directionColumn {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.display-flex-white {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  padding: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin: -5px 0;
}

.display-flex-white .display-flex-white,
.typography,
p {
  margin: 0;
  color: #000000;
}

.paragraphe {
  font-size: 17px;
  font-weight: 300;
}

.heart,
.heart-violet {
  position: absolute;
  width: 22px;
  height: 21px;
  border: 1px;
  right: 0;
  top: 20px;
  padding-right: 25px;
}

.heart-violet {
  opacity: 0;
  transition-duration: 1s;
}

.heart-violet:active,
.heart-violet:hover,
.heart-violet .selected {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding-top: 15px;
  padding-bottom: 25px;
}

.padding {
  padding-top: 15px;
  padding-left: 20px;
}

.footer-image-Proposer-un-restaurant h3,
.footer-partenaire h3 {
  color: white;
  font-size: 16px;
  line-height: 18.75px;
  gap: 7px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.footer-image-Proposer-un-restaurant {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 7px;
}

.footer-partenaire {
  padding-left: 7px;
}

.footer-image {
  padding-left: 8px;
}

.footer-partenaire,
.alignement h3 {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
}

.logo-proposer,
.alignement {
  height: 13px;
  padding-right: 10px;
  padding-left: 15px;
}

.footer-image p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 4px;
  padding-left: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .section-button {
    padding-top: 25px;
    padding-bottom: 45px;
  }
  .section-button h1 {
    font-size: 40px;
    line-height: 47px;
  }
  .decouvrer {
    font-size: 18px;
  }
  br {
    display: none;
  }
  .sectionwhitebackground,
  .button-white {
    flex-direction: row;
  }
  .button-white {
    justify-content: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
  }
  .mise-en-page-un,
  .mise-en-page {
    padding-top: 0;
    padding-bottom: 0;
  }
  .image-directionColumn {
    width: 498.55px;
    height: 231px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 5rem;
    padding-top: 40px;
  }
  .padding {
    order: 10;
    padding-left: 5rem;
    padding-bottom: 7px;
    padding-top: 10px;
  }
  .footer-image-Proposer-un-restaurant {
    padding-bottom: 15px;
  }
  .footer-partenaire {
    padding-top: 10px;
  }
}/*# sourceMappingURL=index.css.map */