/*GENERAL*/
:root {
    --main-color: white;
    --second-color: #EAEAEA;
    --drak-grey-color: #353535;
    --pink: #FF79DA;
    --purple: #9356DC;
}

// BODY

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
}


// HEADER

.header-white {
    display: flex;
    justify-content: center;
    background-color: white;
}

.header-white .logo-ohmyfood {
    height: 36px;
    width: 197px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.headerTextContent {
    background-color: #EAEAEA;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.headerTextContent img {
    display: block;
}

span {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 570;
    color: #353535;
    text-decoration: none;
}

.headerTextConten,
.pin,
span {
    display: flex;
    padding: 7px;
}

a {
    text-decoration: none;
}

// SECTION-BUTTON

.section-button {
    text-align: center;
    padding: 30px;
    background-color: #F6F6F6;
}

h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 28.13px;
    color: #000000;
    margin: 0;
}

.decouvrer {
    font-weight: 100;
    line-height: 21.09px;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #353535;
}

.button-violet {
    display: inline-block;
    width: 218px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--pink), var(--purple));
    border-radius: 25px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: white;
    text-decoration: none;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.button-violet:hover,
.button-violet:focus {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

// SECTIONWHITEBACKROUND

.button-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h2 {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.button-logo-mobile,
.button-menu,
.button-restaurant {
    border-style: solid;
    border-color: #F6F6F6;
    border-width: 2px;
    border-radius: 20px;
    width: 322.49px;
    height: 72.38px;
    text-align: center;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.insertion {
    position: relative;
    display: flex;
    align-items: center;
}

.numero {
    position: absolute;
    top: calc(50% - 12px);
    left: -12px;
    background-color: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.texte-noir {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    line-height: 18.75px;
    white-space: nowrap;
    text-align: left;
}

.images,
.texte-noir {
    padding: 10px;
}

.images {
    padding-bottom: 18px;
}

// SECTION RESTAURANTS

.restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 60px;
    padding-bottom: 2rem;
}

.titre-restaurants {
    align-self: start;
    padding-bottom: 0;
    padding-left: 20px;
}

.mise-en-page-un {
    padding-bottom: 15px;
}

.mise-en-page {
    padding-top: 15px;
    padding-bottom: 15px;
}


.directionColumn {
    position: relative;
    text-decoration: none;
}

.nouveau {
    right: 0;
    position: absolute;
    padding: 20px;
}

.image-directionColumn {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.display-flex-white {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}

.display-flex-white,
.typography,
p {
    margin: -5px;
    color: #000000;
    padding-left: 10px;
}

.typography {
    padding-top: 15px;
}

.paragraphe {
    font-size: 17px;
    padding-bottom: 15px;
    padding-top: 8px;
    font-weight: 300;
}

.heart,
.heart-violet {
    position: absolute;
    width: 22px;
    height: 21px;
    border: 1px;
    right: 0;
    top: 20px;
    padding-right: 25px;
}

.heart-violet {
    opacity: 0;
    transition-duration: 1s;
}

.heart-violet:active,
.heart-violet:hover,
.heart-violet .selected {
    opacity: 1;
}


// FOOTER

footer {
    background-color: #353535;
    padding-top: 15px;
    padding-bottom: 25px;

}

.padding {
    padding-top: 15px;
    padding-left: 20px;
}

.footer-image-Proposer-un-restaurant h3,
.footer-partenaire h3 {
    color: white;
    width: 400;
    font-size: 16px;
    line-height: 18.75px;
    gap: 7px;
    font-weight: 500px;
    margin: 0;
}

.footer-image-Proposer-un-restaurant {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 7px;
}

.footer-partenaire {
    padding-left: 7px;
}

.footer-image {
    padding-left: 8px;
}

.footer-partenaire,
.alignement h3 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}

.logo-proposer,
.alignement {
    height: 13px;
    padding-right: 10px;
    padding-left: 15px;
}

.footer-image p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding: 4px;
    padding-left: 20px;
}










// DESKTOP
@media screen and (min-width: 1200px) {

    // HEADER 

    // SECTION-BUTTON

    .section-button {
        padding-top: 25px;
        padding-bottom: 45px;
    }

    .section-button h1 {
        font-size: 40px;
        line-height: 47px;
    }

    .decouvrer {
        font-size: 18px;
    }

    br {
        display: none;
    }

    // SECTIONWHITEBACKGROUND

    h2 {
        padding-left: 13rem;
    }

    .sectionwhitebackground,
    .button-white {
        flex-direction: row;
    }

    .button-white {
        justify-content: center;
    }

    // SECTION: RESTAURANTS
    .titre-restaurants {
        padding-left: 10.9rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 50px 100px;
    }

    .mise-en-page-un,
    .mise-en-page {
        padding-top: 0;
        padding-bottom: 0;
    }

    .image-directionColumn {
        width: 498.55px;
        height: 231px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    // FOOTER

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding-right: 5rem;
    }
    .padding {
        order: 10;
        padding-left: 5rem;
        padding-bottom: 7px;
        padding-top: 10px;
    }
    .footer-image-Proposer-un-restaurant {
        padding-bottom: 15px;
    }

    .footer-partenaire{
        padding-top: 10px;
    }

}