@media screen and (max-width: 375px) {

  footer,
  .mise-en-page {
    display: block;
  }


  .titre,
  h1 {

   
    padding-left: 0.5rem;
    font-family: "Shrikhand", serif;
    font-size: italic;
    font-style: unset;

  }
  .heart,
  .heart-violet {
      position: absolute;
      // margin-top: 35px;
      // margin-right: 25px;

  }

  .heart,
  .heart-violet {
    width: 22px;
    height: 21px;
    top: 15px;
  }



}